/*Design base início*/
body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Garante que o corpo ocupe 100% da largura */
}

header {
  width: 100%; /* Garante que o cabeçalho ocupe 100% da largura */
  color: #ffffff;
  text-align: center; /* Centraliza o texto */
  padding: 10px 20px; /* Reduz o padding para melhor visualização em telas menores */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribui espaço entre os itens */
  box-sizing: border-box; /* Inclui padding na largura total */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza a logo */
  flex: 1;
}

.logo-container img {
  max-height: 40px;
  margin-right: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinha o ícone à direita */
  flex: 0; /* Ajusta o ícone para ocupar o espaço necessário */
}

.icon-container img {
  width: 45px;
  height: 45px;
}
.search-bar {
  width: 70%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  margin: 10px 0; /* Reduz a margem para melhor visualização em telas menores */
  position: relative;
  box-sizing: border-box; /* Inclui padding na largura total */
}

.search-bar input {
  width: 100%;
  background: none;
  border: none;
  color: #000;
  padding: 5px;
  outline: none;
  font-size: 16px;
}
/*Escrita do pesquisar*/
.search-bar input::placeholder {
  color: #0303b5;
}
/*ícone de pesquisa*/
.search-bar svg {
  fill: #0303b5;
  margin-right: 10px;
}
/*sugestões*/
.suggestions {
  width: 100%; /* Garante que as sugestões ocupem 100% da largura */
  background-color: #fff;
  color: #0303b5;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  box-sizing: border-box; /* Inclui padding na largura total */
}
/*texto de sugestões*/
.suggestions p {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.suggestions p:last-child {
  border-bottom: none;
}

.suggestions p:hover {
  background-color: #0303b5;
  color: #fff;
}
/* Barra de navegação */
.nav-bar {
  width: 100%; /* Garante que a barra de navegação ocupe 100% da largura */
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box; /* Inclui padding na largura total */
  z-index: 1000; /* Z-index alto para garantir que fique acima de outros elementos */
  transition: top 0.3s ease; /* Transição suave para a mudança de posição */
}
.nav-bar.fixed {
  background-color: #0303b5;
  position: fixed;
  top: 0;
  z-index: 1000; /* Certifique-se de que a nav-bar fique acima de outros elementos */
}

/* Adiciona espaço ao conteúdo quando a nav-bar está fixa */
body.nav-fixed {
    padding-top: 60px;
}
  
/* Links da barra de navegação */
.nav-bar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px; /* Reduz a margem para melhor visualização em telas menores */
  font-size: 16px;
  position: relative;
  padding: 5px;
  transition: background-color 0.3s ease;
}

/* Efeito ativo */
.nav-bar a.active {
  color: #fff;
}

/* Efeito para ativar */
.nav-bar a.active::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 5px;
  border-bottom: 2px solid #fff;
}

/* Efeito de hover */
.nav-bar a:hover {
  color: #fefefe;
  background-color: #38B6FF; /* Cor do fundo ao final do efeito */
  border-radius: 5px;
}

/*Ícone*/
.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/*Responsividade*/  
@media (max-width: 768px) {
  .nav-bar {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #0303b5;
  }

  .nav-bar a {
      margin: 10px 0;
      font-size: 18px;
  }

  .hamburger-menu {
      display: block;
  }

  .nav-bar.active {
      display: flex;
  }
}

/*Aviso de redirecionamento de página*/
.active{
  font-weight: bold;
  color: #333; /*Cor do link ativo*/
}
.no-results-message {
  width: 100%; /* Garante que a mensagem ocupe 100% da largura */
  background-color: #0303b5;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  display: none;
  margin-top: 10px;
  box-sizing: border-box; /* Inclui padding na largura total */
}

/*fundo da parte de cima do site*/
.cima {
  width: 100%; /* Garante que a div cima ocupe 100% da largura */
  background-color: #0303b5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; /* Inclui padding na largura total */
}

/* Estilos para o modo noturno */
body.dark-mode {
  background-color: #000; /* Fundo escuro para o modo noturno */
}

.overlay.dark-mode {
  background-color: rgba(0, 0, 0, 0.7); /* Fundo translúcido para modo noturno */
}

.overlay-content.dark-mode {
  background-color: #666; /* Fundo mais escuro para conteúdo no modo noturno */
  color: #fff; /* Cor do texto para modo noturno */
}

.close-btn.dark-mode {
  color: #fff; /* Cor do ícone de fechar para modo noturno */
}

/* Estilos do rodapé */
footer {
  width: 100%;
  background-color: #000050;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo-container img {
  max-height: 40px;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

.footer-links a:hover {
  color: #f00;
}

.footer-rights {
  font-size: 14px;
}

@media (max-width: 1040px) {
  .footer-links {
    flex-direction: column;
  }

  .footer-links a {
    margin: 5px 0;
  }
}

/*Design base fim*/

/* Estilos responsivos para imagens */
.imagem-viagem {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.imagem-viagem img {
  width: 100%; /* A imagem ocupará 100% da largura do seu contêiner */
  height: auto; /* Garante que a altura seja ajustada proporcionalmente à largura */
  max-width: 100%; /* Evita que a imagem ultrapasse seu tamanho natural */
}

/* Estilos responsivos para a frase sobreposta */
.frase-sobreposta::before,
.frase-sobreposta::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px; /* Reduzi a altura da linha para um visual mais sutil */
  background-color: #fff;
  margin: 5px auto; /* Espaçamento menor entre as linhas */
}

.frase-sobreposta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.frase-sobreposta p {
  margin: 0;
  text-align: center;
  font-size: 3vw; /* Tamanho de fonte relativo à largura da viewport */
  line-height: 1.5;
}

/* Media query para ajustes específicos */
@media (max-width: 768px) {
  .frase-sobreposta p {
      font-size: 5vw; /* Reduz o tamanho da fonte para telas menores */
  }
}


/*álbuns*/
.album {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
text-decoration: none; /* Remove a sublinhado dos links */
color: inherit; /* Herda a cor do texto */
transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

.album-section {
padding: 20px;
text-align: center;
}

.album-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.album-header h2 {
font-size: 24px;
margin: 0;
}

.album-carousel {
display: flex;
justify-content: space-around;
overflow-x: auto;
padding: 10px 0;
}

.album {
flex: 0 0 auto;
width: 150px;
margin-right: 20px;
text-align: center;
}

.album img {
width: 100%;
border-radius: 10px;
}

.album p {
font-size: 14px;
margin: 10px 0 5px;
}

.album span {
font-size: 12px;
color: #808080;
}

.show-all {
color: #808080;
text-decoration: none;
font-size: 14px;
}

.show-all:hover {
text-decoration: underline;
}

@media (max-width: 768px) {
.album-carousel {
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  margin-bottom: 20px;
  margin-right: 10px;
}

.album-header {
  flex-direction: column;
}

.album-header h2 {
  margin-bottom: 10px;
}
}

/*Botão noturno*/
.dark-mode {
background-color: black;
color: white;
}

button {
all: unset;
cursor: pointer;
}

/*botão mostrar tudo*/
/* Estilos para o overlay */
.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
justify-content: center;
align-items: center;
background-color: rgba(168, 168, 168, 0.7); /* Fundo translúcido para modo claro */
}

.overlay-content {
background-color: #fff; /* Fundo branco para conteúdo */
padding: 20px;
border-radius: 8px;
max-width: 80%;
text-align: center;
position: relative;
color: #333; /* Cor do texto para modo claro */
}

.close-btn {
position: absolute;
top: 10px;
right: 10px;
font-size: 24px;
cursor: pointer;
color: #333; /* Cor do ícone de fechar para modo claro */
}

/*inicio sobre nós*/
.title-interna {
  color: #0303b5;
  font-size: 36px;
  font-weight: 400;
  padding-top: 50px;
  margin: 0;
  padding-bottom: 15px;
  text-decoration: underline #0303b5; /* Sublinhado vermelho */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 20px; /* Bordas arredondadas */
}
/* Estilos da seção no modo escuro */
body.dark-mode .title-interna {
  background-color: #0303b5; /* Cor de fundo mais escura */
  color: #fff; /* Cor do texto branca */
}

.divisor-interna {
  display: inline-block;
  width: 100%;
  height: 15px;
  background: url(https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2022/07/divisor.svg) left no-repeat;
  margin-bottom: 30px;
}

/*fim sobre nós*/
/*Início missão, visão e valores*/
/* Estilos da seção no modo padrão */
.content-section {
  background-color: #f8f8f8;
  color: #333; /* Cor do texto no modo claro */
  padding: 60px 20px;
  text-align: center;
}

/* Estilos da seção no modo escuro */
body.dark-mode .content-section {
  background-color: #333; /* Cor de fundo mais escura */
  color: #fff; /* Cor do texto branca */
}

.section-content {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}

.section-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.section-content.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .hero-text h1 {
      font-size: 2.5rem;
  }

  .hero-text p {
      font-size: 1.2rem;
  }

  .section-content h2 {
      font-size: 1.5rem;
  }

  .section-content p {
      font-size: 1rem;
  }
}

main {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.mission-section, .story-section {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.mission-section .mission-image,
.story-section .story-image {
  flex: 1;
  max-width: 40%;
}

.mission-section .mission-text,
.story-section .story-text {
  flex: 1;
  max-width: 50%;
  padding-left: 40px;
}

.mission-section .mission-text h2,
.story-section .story-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333;

}
.mission-section .mission-text h2,
.story-section .story-text h2 {
  background-color: #fff; /* Cor de fundo mais escura */
  color: #000; /* Cor do texto branca */
}
.mission-section .mission-text p,
.story-section .story-text p {
  background-color: #fff; /* Cor de fundo mais escura */
  color: #333; /* Cor do texto branca */
}


/* Estilos da seção no modo escuro */
body.dark-mode .mission-section .mission-text h2,
.story-section .story-text h2 {
  background-color: #333; /* Cor de fundo mais escura */
  color: #ffff00; /* Cor do texto branca */
}

.mission-section .mission-text p,
.story-section .story-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}
/* Estilos da seção no modo escuro */
body.dark-mode .mission-section .mission-text p,
.story-section .story-text p {
  background-color: #333; /* Cor de fundo mais escura */
  color: #fff; /* Cor do texto branca */
}


.mission-section .mission-image img,
.story-section .story-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .mission-section, .story-section {
      flex-direction: column;
      text-align: center;
  }

  .mission-section .mission-image,
  .story-section .story-image,
  .mission-section .mission-text,
  .story-section .story-text {
      max-width: 100%;
      padding-left: 0;
  }
}

.simple-textbox {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.simple-textbox h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.simple-textbox p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}

.simple-textbox textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  resize: vertical; /* Permite que o usuário redimensione verticalmente */
  outline: none;
}

.simple-textbox textarea:focus {
  border-color: #007BFF;
}

/* Modo noturno */
body.dark-mode {
  background-color: #000; /* Fundo escuro para o modo noturno */
  color: #fff; /* Texto branco no modo noturno */
}

body.dark-mode .text-box {
  background-color: #333; /* Caixa de texto cinza no modo noturno */
  color: #fff; /* Texto branco dentro da caixa de texto */
}

body.dark-mode .text-box p {
  color: #fff; /* Texto branco no modo noturno */
}
body.dark-mode .simple-textbox textarea {
  background-color: #444;
  color: #fff;
  border-color: #555;
}
/*Fim missão, visão e valores*/


/*Caixa de texto*/
.container {
  max-width: 900px; /*tamanho caixa*/
  width: 90%;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.text-box {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-box p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin: 10px 0;
}

@media (max-width: 600px) {
  h1 {
      font-size: 2rem;
  }

  .text-box {
      padding: 15px;
  }

  .text-box p {
      font-size: 1rem;
  }
}