body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}
/*Cabeçalho - logo*/
header {
    background-color: #38B6FF;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
  }
  
  /*menuzinho*/
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .logo-container img {
    max-height: 50px;
    margin-right: 10px;
  }
  
  nav {
    background-color: #FFA500;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav ul li {
    transition: background-color 0.3s;
  }
  
  nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #0c2c68;
  }
  
  /*imagens*/
  .imagem-viagem {
    text-align: center;
    margin-top: none;
    margin-bottom: 10px;
  }
  
  .imagem-viagem img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  .imagem-container {
    position: relative;
  }
  
  /* Frase no meio da imagem */
  .frase-sobreposta::before,
  .frase-sobreposta::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
  }
  
  .frase-sobreposta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }
  
  .frase-sobreposta p {
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 3vw; /* Tamanho de fonte relativo à largura da viewport */
    line-height: 1.5;
  }
  
  /* Hero */
  .hero {
    text-align: center;
    padding: 10vh 20px; /* Padding relativo à altura da viewport */
    background-image: url('background.jpg');
    background-size: cover;
    color: #fff;
  }
  
  .hero h2 {
    font-size: 2.5vw; /* Tamanho de fonte relativo à largura da viewport */
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.5vw; /* Tamanho de fonte relativo à largura da viewport */
    margin-bottom: 3vh; /* Margem inferior relativa à altura da viewport */
  }
  
  /*Botão saiba mais*/
  #saiba-mais-btn {
    position: relative;
    background-color: #ff6600;
    border: none;
    padding: 30px 100px;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    font-size: 20px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
    color: white ;
  }
  
  #texto-saiba-mais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  #aviao {
    position: absolute;
    top: -85%;
    left: -250px;
    transition: left 1s linear;
  }
  
  #saiba-mais-btn:hover #aviao {
    left: 100%;
  }
  
  #saiba-mais-btn:hover #texto-saiba-mais {
    opacity: 0;
  }
  
  #saiba-mais-btn:hover #aviao {
    opacity: 1;
  }
  
 
  /*Layout novo*/
  
  .album-section {
    padding: 20px;
    text-align: center;
}

.album-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.album-carousel {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    padding: 10px 0;
}

.album {
    flex: 0 0 auto;
    width: 150px;
    margin-right: 20px;
    text-align: center;
}

.album img {
    width: 100%;
    border-radius: 10px;
}

.album p {
    font-size: 14px;
    margin: 10px 0 5px;
}

.album span {
    font-size: 12px;
    color: #b3b3b3;
}

.show-all {
    display: inline-block;
    margin-top: 20px;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 14px;
}

.show-all:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .album-carousel {
        flex-wrap: wrap;
        justify-content: center;
    }

    .album {
        margin-bottom: 20px;
        margin-right: 10px;
    }
}

  /*Textos h1 soltos no site*/
  #h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    text-align: center;
  }
  
  #h1-1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    text-align: center;
  }

  /*Layout novo*/
  